* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navgation */
.nav-btn{
  margin: 20px;
  position: absolute;
  left: 15px;
  top: -20px;
  /*background: rgb(187, 172, 172);*/
  width: 80px;
  height: 80px;
  /*border-radius: 50%;*/
  z-index: 9999;
  cursor: pointer;
}

.nav-btn span {
  background: #ffffff;
  width: 30px;
  display: block;
  transition: all 1000ms ease
}


/* 

span:nth-child(1){
  animation-name: span;
  animation-delay: 2ms;
  animation-fill-mode: inherit;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
@keyframes span{
  from{
      width: 0;
  }
  to{
      width: 30px;
  }
}

span:nth-child(2){
  animation-name: span3;
  animation-delay: 2ms;
  animation-direction: initial;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

@keyframes span3{
  from{
      width: 2px;
  }
  to{
      width: 30px;
  }
}

span:nth-child(3){
  animation-name: span2;
  animation-delay: 2ms;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
@keyframes span2{
  from{
      width: 3px;
  }
  to{
      width: 15px;
  }
} */

.nav-btn span:nth-child(1){
  margin-top: 35px;
  height: 2.6px;
  animation: span1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span1 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.nav-btn span:nth-child(2){
  margin-top: 5px;
  height: 2.6px;
  animation: span2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
  position: relative;
}

@keyframes span2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
} 

.nav-btn span:nth-child(3){
  margin-top: 5px;
  height: 2.6px;
  width: 15px;
  animation: span3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span3 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}



#nav:checked + .nav-btn{
  transform: rotate(45deg)
}

#nav:checked + .nav-btn span {
  background: white;
  transition: transform 500ms ease;
}

#nav:checked + .nav-btn span:nth-child(1){
  transform:translateX(1px) translateY(24px) rotate(180deg);
  width: 30px;
  opacity: 1;
}

#nav:checked + .nav-btn span:nth-child(2){
  transform: translateX(1px) translateY(17px) rotate(90deg);
  width: 30px;
  opacity: 1;
   
}

#nav:checked + .nav-btn span:nth-child(3){
  display: none; 
}

#wrapper{
  position: fixed;
  top: -1000px;
  left: 0;
  background: rgba(73, 70, 70, 0.89);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  text-align: center;
  /* transition: all 100ms ease-out; */ 
  
}


#wrapper ul{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
}

#wrapper ul li {
  display: block;
  max-width: 90%;
  padding:5%;
  /* border: 1px solid white;  */
}

.lnk{
  line-height: 2;
  text-decoration: none;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 700;
  animation: lnk_show;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes lnk_show {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#wrapper ul li a:hover{
  color: rgb(168, 151, 151);
}

#nav:checked ~ #wrapper{
  z-index: 9990;
  opacity: 1;
  animation: wrapper_slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes wrapper_slide {
  0%{top: -1000px;}
  100%{top:0}
}

.hidden{
  opacity: 0;
}

.showcase {
  background: url(../images/alone-clouds-golden-hour-670720.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

#wshow {
  text-align: center;
  position: relative;
  top: 150px;
  padding: 0 30px;
}

#wshow h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#wshow p {
  color: white;
  line-height: 1;
}

.container {
  padding: 0 30px;
}

.sec {
  /* background-color: rgb(206, 206, 206); */
}

.sec p {
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  font-weight: 500;
  padding: 0 30px;
}

.sec1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 40px;
}

/* Project Section */

#proj1 {
  width:80%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178);
  
}
#proj1 img {
  width: 100%;
}

#proj1 p {
  padding: 20px;
}

#proj2 {
  width:80%;
  height:100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178)
}
#proj2 img {
  width: 100%;
}

#proj2 p {
  padding: 20px;
}

/* Contact Me */


footer{
  height: 20vh;
  width: 100%;
  background: rgb(79, 87, 88);
}

footer p {
  padding: 30px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}


 