* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  color: #262626;
  height: 100vh;
}

/* .container{
  border: 1px solid black;
} */

/* Nav */
.hidden{
  opacity: 0;
}
#wrapper ul{
  text-align: center;
  margin-top: 30px;
}

#wrapper ul li {
  display: inline-block;
}

#wrapper ul li a{
  text-overflow: unset;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  padding-right: 25px;
  transition-duration: 500ms;
  transition-property: color, text-align, padding;
}

#wrapper ul li a:hover {
  color: rgb(97, 97, 97);
  border: 1px solid white;
  text-align: center;
  padding: 10px 10px;
}




.showcase {
  background: url(../images/image4.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  bottom: 0;
  top: 0;
  z-index: 1; 
}



.showcase_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.671);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -13;
}



#wshow {
  /* text-align: center;
  position: relative;
  top: 190px;
  padding: 0 30px;
  outline: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 3rem;
}

#wshow #test {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 60px;
  border: 2px solid #fff;
  padding: 20px;
  animation-name: rat;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes rat {
  0%{opacity: 0}
  100%{opacity: 1}
}

#wshow h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3.5rem;
  margin: 0.4rem;
}

#wshow h2{
  color: rgb(235, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  margin: 0.4rem;

}

#wshow p {
  color: white;
  line-height: 1;
}

/* social media icon */

.icon ul{
  display: flex;
  position: fixed;
  top: 83%;
  right: 0;
  z-index: 20;
}

.icon ul li {
  list-style: none;
}

.icon ul li a {
  /* width: 50px;
  height: 50px; */
  background: #fff;
  text-align: center;
  /* line-height: 50px; */
  font-size: 25px;
  margin: 0 10px;
  display: block;
  /* border-radius: 50%; */
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.icon ul li:nth-child(1) a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 12px 10px;
}

.icon ul li:nth-child(2) a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 12px 10px;
}

.icon ul li:nth-child(3) a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 12px 10px;
}

.icon ul li:nth-child(4) a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

.icon ul li a .fa {
  position: relative;
  color: #262626;
  transition: .8s;
}

.icon ul li a:hover .fa {
  color: #fff;
  transform: rotate(360deg);
  z-index: 3;
}

.icon ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  /* background: #f00;*/ 
  transition: .8s;
  z-index: 2;
}



.icon ul li a:hover:before {
  top: 0;
}


.icon ul li:nth-child(1) a:before {
  
  background: #131418;
}

.icon ul li:nth-child(2) a:before {
  background: #3b5999;
}

.icon ul li:nth-child(3) a:before {
  background: #55acee;
}

.icon ul li:nth-child(4) a:before {
  background: #e4405f;
}



.container {
  padding: 0 30px;
}

.sec {
  /* background-color: rgb(206, 206, 206); */
  height: 50vh;
}

.sec p {
  font-size: 1rem;
  text-align: center;
  /* text-transform: uppercase; */
  line-height: 2;
  font-weight: 500;
  padding: 0 50px;
}

.sec1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 40px;
}

.sec1 h2 {
  text-align: center;
  font-weight: 300;
}

/* Project Section */

#proj1 {
  width:80%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178);
  
}

#proj1:hover {
  box-shadow: 0 6px 7px 0 rgba(5, 142, 196, 0.178);
}
#proj1 img {
  width: 100%;
}

#proj1 p {
  padding: 20px;
}

#proj2 {
  width:80%;
  height:100%;
  padding-bottom: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178)
}

#proj2:hover {
  box-shadow: 0 6px 7px 0 rgba(5, 142, 196, 0.178);
}
#proj2 img {
  width: 100%;
}

#proj2 p {
  padding: 20px;
}

/* Contact Me */
.sec3 {
  padding: 0 30px;
  margin-top: 40px;
}

::-webkit-input-placeholder {
  padding-left: 1px;
}

#form{
  width: 70%;
  margin: 0 auto;
}

.sec3 h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 20px;
}

.sec3 p {
  padding: 5px 0;
  font-size: 0.8em;
  text-transform: capitalize;
}

#fullName {
  height: 5vh;
  width: 98%;
  padding: 4px;
  margin-bottom: 20px;
}

#email {
  height: 5vh;
  width: 98%;
  padding: 4px;
  margin-bottom: 20px;
}

#msg {
  height: 20vh;
  width: 98%;
  padding: 4px;
}


.sec3 #sendBtn {
  border: none;
  background: #262626;
  color:#fff;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}




footer{
  height: 20vh;
  width: 100%;
  background: #262626;
}

footer p {
  padding: 30px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* @media(min-width:1200px) {
  #wshow h1{
    font-size: 4rem;
  }

  body {
    background: rgb(150, 27, 27);
    color: rgb(59, 59, 59);
  }

  .container {
    padding: 0 50px;
  }
} */


@media(min-width: 992px) {
  body {
    background: white;
    color: rgb(59, 59, 59);
  }

  #wshow h2{
    font-size: 1rem;
    font-weight: 600;
  }

  .container {
    margin: 0 200px;
  }

}
@media(max-width: 800px) {
  #wshow h1{
    font-size: 2.8rem;
    font-weight: 500;
  }

  #wshow h2{
    font-size: 1rem;
    font-weight: 600;
  }

  #wshow {
    padding: 0 1rem;
  }

  /* Navgation */
.nav-btn{
  margin: 20px;
  position: fixed;
  left: 15px;
  top: -20px;
  /*background: rgb(187, 172, 172);*/
  width: 80px;
  height: 80px;
  /*border-radius: 50%;*/
  z-index: 9999;
  cursor: pointer;
}

.nav-btn span {
  background: #ffffff;
  width: 30px;
  display: block;
  transition: all 1000ms ease
}


/* 

span:nth-child(1){
  animation-name: span;
  animation-delay: 2ms;
  animation-fill-mode: inherit;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
@keyframes span{
  from{
      width: 0;
  }
  to{
      width: 30px;
  }
}

span:nth-child(2){
  animation-name: span3;
  animation-delay: 2ms;
  animation-direction: initial;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

@keyframes span3{
  from{
      width: 2px;
  }
  to{
      width: 30px;
  }
}

span:nth-child(3){
  animation-name: span2;
  animation-delay: 2ms;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
@keyframes span2{
  from{
      width: 3px;
  }
  to{
      width: 15px;
  }
} */

.nav-btn span:nth-child(1){
  margin-top: 35px;
  height: 2.6px;
  animation: span1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span1 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.nav-btn span:nth-child(2){
  margin-top: 5px;
  height: 2.6px;
  animation: span2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
  position: relative;
}

@keyframes span2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
} 

.nav-btn span:nth-child(3){
  margin-top: 5px;
  height: 2.6px;
  width: 15px;
  animation: span3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span3 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}



#nav:checked + .nav-btn{
  transform: rotate(45deg)
}

#nav:checked + .nav-btn span {
  background: white;
  transition: transform 500ms ease;
}

#nav:checked + .nav-btn span:nth-child(1){
  transform:translateX(1px) translateY(24px) rotate(180deg);
  width: 30px;
  opacity: 1;
}

#nav:checked + .nav-btn span:nth-child(2){
  transform: translateX(1px) translateY(17px) rotate(90deg);
  width: 30px;
  opacity: 1;
   
}

#nav:checked + .nav-btn span:nth-child(3){
  display: none; 
}

#wrapper{
  position: fixed;
  top: -1000px;
  left: 0;
  background: rgba(73, 70, 70, 0.89);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  text-align: center;
  /* transition: all 100ms ease-out; */ 
  
}


#wrapper ul{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#wrapper ul li {
  display: block;
  max-width: 100%;
  padding: 6%;
  /* border: 1px solid white; */  
}

.lnk{
  line-height: 2;
  text-decoration: none;
  color: white;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: 700;
  animation: lnk_show;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes lnk_show {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#wrapper ul li a {
  transition-property: color;
  transition-duration: 400ms;
}
#wrapper ul li a:hover{
  color: rgb(168, 151, 151);
}

#nav:checked ~ #wrapper{
  z-index: 9990;
  opacity: 1;
  animation: wrapper_slide;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes wrapper_slide {
  0%{top: -700px;}
  100%{top:0}
}

.hidden{
  opacity: 0;
}
}

@media(max-width:600px) {

  #form{
    width: 90%;
    margin: 0 auto;
  }

  .icon ul{
    display: flex;
    position: fixed;
    top: 87%;
    right: 0;
    z-index: 20;
  }

  #wshow h1{
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  #wshow h2{
    font-size: 1.3rem;
    font-weight: 550;
  }

  #wshow {
    padding: 0 1rem;
  }

  .container {
    padding: 0 10px;
  }
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid white;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 15px;
  font-size: 30px;
  font-weight: 500;
  overflow: hidden;
}



 