@import "socialIcons.css";
@import "about.css";
@import "sampleProjects.css";
@import "form.css";

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --dark: rgba(39, 38, 38, 0.733);
  --menu-speed: 0.75s;
}

body {
  background: white;
  color: #262626;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.showcase {
  background-image: url(../images/image4.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.showcase_overlay {
  position: absolute;
  top:0;
  background: var(--dark);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toggler {
  visibility: hidden;
}

.menu-bar .menu ul {
  text-align: center;
}

.menu-bar .menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 25px;
}

#showcaseText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  padding: 0 3rem;
}

#showcaseText #aboutBtn {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 20px;
  border: 2px solid #fff;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
  animation-name: aboutButton;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes aboutButton {
  0%{opacity: 0}
  100%{opacity: 1}
}

#showcaseText h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  margin: 0.4rem;
}

#showcaseText h2{
  color: rgb(235, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  margin: 0.4rem;
}

#showcaseText p {
  color: white;
  line-height: 1;
}

footer {
  height: 10vh;
  width: 100%;
  background: #262626;
}

footer p {
  padding: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}
/* Cursor */
.text-type > .text {
  border-right: 0.2rem solid white;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 15px;
  font-size: 30px;
  font-weight: 500;
  overflow: hidden;
}

.container {
  margin: 0 80px;
}

@media only screen and (max-width: 800px) {
  /* Hamburger Navigation */
  .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .menu-bar .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-bar .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    /* background: var(--dark); */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.7s ease-out;
  }

  /* Burger Line; */
  .menu-bar .hamburger > div {
    position: relative;
    width: 100px;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Top line */
  .menu-bar .hamburger > div:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: inherit;
    top: -10px;
    width: 100%;
    height: 2px;
  }

  .menu-bar .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    background: inherit;
    top: 10px;
    left: 0;
    width: 50%;
    height: 2px;
  }

  .menu-bar .toggler:checked + .hamburger {
    background: white;
  }

  /* Toggler animate */
  .menu-bar .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: black;
  }

  /* Turn lines into X */
  .menu-bar .toggler:checked + .hamburger > div::before {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-bar .toggler:checked + .hamburger > div::after {
    visibility: hidden;  
  } 

  /* Rotate on hover when checked */
  .menu-bar .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show menu */
  .menu-bar .toggler:checked ~ .menu  {
    visibility: visible;
  }

  .menu-bar .toggler:checked ~ .menu > div {
    transform: scale(1);
  } 

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-bar .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .menu-bar .menu > div {
    background: #262626;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: translateX(-500px);
    transition: all 0.7s ease-out;
  } 

  .menu-bar .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 1;
    transition: opacity  0.4s ease;
  } 

  .menu-bar .menu > div > div > ul > li {
    display: block;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-bar .menu div div ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  } 

  .toggler {
    visibility: visible;
  }

  .container {
    margin: 0 30px;
  }

  #showcaseText h1 {
    font-size: 2.5rem;
  }

  .text-type > .text {
    border-right: 0.2rem solid white;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    overflow: hidden;
  }

  #showcaseText #aboutBtn {
    width: 40%;
  }
}
