@import "socialIcons.css";
@import "about.css";
@import "sampleProjects.css";
@import "form.css";

body {
  background: white;
  color: #262626;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 80px;
}

/* Nav */
.hidden {
  opacity: 0;
}

#wrapper ul {
  text-align: center;
  margin-top: 30px;
}

#wrapper ul li {
  display: inline-block;
}

#wrapper ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  padding-right: 25px;
  transition-duration: 500ms;
  transition-property: color, text-align, padding;
}

#wrapper ul li a:hover {
  color: rgb(97, 97, 97);
  border: 1px solid white;
  text-align: center;
  padding: 10px 10px;
}

.showcase {
  background: url(../images/image4.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  bottom: 0;
  top: 0;
  z-index: 1; 
}

.showcase_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.671);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -13;
}

#showcaseText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 3rem;
}

#showcaseText #aboutBtn {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 20px;
  border: 2px solid #fff;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
  animation-name: aboutButton;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes aboutButton {
  0%{opacity: 0}
  100%{opacity: 1}
}

#showcaseText h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3.5rem;
  margin: 0.4rem;
}

#showcaseText h2{
  color: rgb(235, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  margin: 0.4rem;
}

#showcaseText p {
  color: white;
  line-height: 1;
}

footer {
  height: 10vh;
  width: 100%;
  background: #262626;
}

footer p {
  padding: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media(max-width: 800px) {

  /* Navgation */
  .nav-btn{
    margin: 20px;
    position: fixed;
    left: 15px;
    top: -20px;
    /*background: rgb(187, 172, 172);*/
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    z-index: 9999;
    cursor: pointer;
  }

.nav-btn span {
  background: #ffffff;
  width: 30px;
  display: block;
  transition: all 1000ms ease
}

.nav-btn span:nth-child(1){
  margin-top: 35px;
  height: 2.6px;
  animation: span1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span1 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.nav-btn span:nth-child(2){
  margin-top: 5px;
  height: 2.6px;
  animation: span2;
  animation-duration: 3s;
  animation-fill-mode: forwards;  
  position: relative;
}

@keyframes span2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
} 

.nav-btn span:nth-child(3){
  margin-top: 5px;
  height: 2.6px;
  width: 15px;
  animation: span3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

@keyframes span3 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#nav:checked + .nav-btn{
  transform: rotate(45deg)
}

#nav:checked + .nav-btn span {
  background: white;
  transition: transform 500ms ease;
}

#nav:checked + .nav-btn span:nth-child(1){
  transform:translateX(1px) translateY(24px) rotate(180deg);
  width: 30px;
  opacity: 1;
}

#nav:checked + .nav-btn span:nth-child(2){
  transform: translateX(1px) translateY(17px) rotate(90deg);
  width: 30px;
  opacity: 1;
}

#nav:checked + .nav-btn span:nth-child(3){
  display: none; 
}

#wrapper{
  position: fixed;
  top: -1000px;
  left: 0;
  background: rgba(73, 70, 70, 0.89);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  text-align: center; 
}

#wrapper ul{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#wrapper ul li {
  display: block;
  max-width: 100%;
  padding: 6%;  
}

.lnk{
  line-height: 2;
  text-decoration: none;
  color: white;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: 700;
  animation: lnk_show;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes lnk_show {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#wrapper ul li a {
  transition-property: color;
  transition-duration: 400ms;
}
#wrapper ul li a:hover{
  color: rgb(168, 151, 151);
  border: none; 
}

#nav:checked ~ #wrapper{
  z-index: 9990;
  opacity: 1;
  animation: wrapper_slide;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes wrapper_slide {
  0%{top: -700px;}
  100%{top:0}
}

.hidden{
  opacity: 0;
}
}

/* Cursor */
.text-type > .text {
  border-right: 0.2rem solid white;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 15px;
  font-size: 30px;
  font-weight: 500;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .container{
    margin: 0 30px;
  }

  #showcaseText #aboutBtn {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
  }

  #showcaseText h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0.4rem;
  }

  .text-type > .text {
    border-right: 0.2rem solid white;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 15px;
    font-size: 1em;
    font-weight: 500;
    overflow: hidden;
  }
}
