/* Project Section */
:root {
  --shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178);
}

.projectBlock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 100px;
  color: #262626;;
}

.projects-uipattern {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-section {
  height: 50vh;
  box-shadow: var(--shadow);
}

.project-section:hover {
  background: rgba(189, 2, 102, 0.274);
}

.project-image {
  height: 40vh;
}

.image1 {
  background: url(../images/image4.jpg) center;
  background-size: cover;
}

.image2 {
  background: url(../images/image3.jpg) center;
  background-size: cover;
}

.image3 {
  background: url(../images/image2.jpg) center;
  background-size: cover;
}

.project-detail {
  background: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.project-detail a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
