/* Project Section */
:root {
  --shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.178);
}

.projectBlock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 100px;
  color: #262626;;
}

.projects-uipattern {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-section {
  width: 100%;
  position: relative;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.project-image {
  height: 250px;
  overflow: hidden;
}

.zoom {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-out;
}

.project-section:hover .zoom, .project-section:focus .zoom:hover {
  transform: scale(1.4);
}

.zoom:before {
  content: "";
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out;
  background-color: var(--dark);
}

.project-section:hover .zoom::before, .project-section:focus .zoom::before {
  display: block;
}

.image1 {
  background: url(../images/image4.jpg);
  background-size: cover;
}

.image2 {
  background: url(../images/image3.jpg) center;
  background-size: cover;
}

.image3 {
  background: url(../images/image2.jpg) center;
  background-size: cover;
}

.project-detail {
  background: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.project-detail a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
